$primaryColorRed: hsl(12, 88%, 59%);
$primaryColorBlue: hsl(228, 39%, 23%);
$textClr: hsl(227, 12%, 61%);
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
@mixin flex {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
@mixin border {
	border: 1px solid #ff6347;
}
// default styles
.btn {
	border: none;
	outline: none;
	border-radius: 50px;
	padding: 10px 30px;
	background: $primaryColorRed;
	color: white;
	display: block;
	cursor: pointer;
	transition: opacity 0.5s ease;

	&:hover {
		opacity: 0.8;
	}
}
i {
	display: none;
}
.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

//MAIN STYLES
.content-wrapper {
	width: 100vw;
}
.container {
	width: 80vw;
	margin: auto;
	padding: 10px;
}
.nav {
	@include flex;
	align-items: flex-start;
}

.navbar {
	width: 50%;

	li a:hover {
		opacity: 0.5;
	}
}
.navbar li a {
	transition: opacity 0.3s ease-in-out;
}
ul {
	@include flex;
	width: 100%;
	list-style: none;
	align-items: center;
}

.nav-link a {
	text-decoration: none;
	color: $primaryColorBlue;
}

// first section styles

.first-section {
	margin-top: 50px;
}

.first-section-wrapper {
	@include flex;

	.left {
		flex: 40%;

		h1 {
			font-weight: 700;
			font-size: 50px;
			color: $primaryColorBlue;
			margin-bottom: 20px;
		}

		p {
			width: 70%;
			margin-bottom: 20px;
			color: $textClr;
		}
	}

	.right {
		flex: 50%;
		height: 100%;
	}
}

// second section styles
.second-section {
	margin-top: 50px;
}
.second-section-wrapper {
	@include flex;
	flex-wrap: nowrap;

	.left h1 {
		width: 80%;
		font-size: 30px;
		margin-bottom: 20px;
		color: $primaryColorBlue;
	}

	.left p {
		width: 70%;
		color: $textClr;
	}

	.right .sub-section {
		@include flex;

		.pill {
			height: 30px;
			width: 10%;
			border-radius: 50px;
			background: $primaryColorRed;
			margin: 0 20px 0 0;

			p {
				display: block;
				width: 100%;
				height: 100%;
				text-align: center;
				color: white;
			}
		}

		.content {
			flex: 60%;
			margin-bottom: 30px;

			p:first-child {
				color: $primaryColorBlue;
				font-weight: 700;
				margin-bottom: 20px;
			}

			p:last-child {
				color: $textClr;
			}
		}
	}
}

// Testimonial styles

.testimonials {
	width: 100vw;

	.testimonial-header {
		text-align: center;
		font-size: 30px;
		color: $primaryColorBlue;
		margin-bottom: 20px;
	}

	p {
		color: $textClr;
		text-align: center;
		margin: 20px 0;
		font-size: 14px;
	}
	img {
		width: 100%;
		margin: auto;
	}

	.swiper-container {
		width: 70%;
		margin: auto;
		height: 400px;
	}

	.swiper-slide {
		text-align: center;
		font-size: 18px;
		background: #fff;
		width: 300px;

		/* Center slide text vertically */
		display: -webkit-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		-webkit-justify-content: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		-webkit-align-items: center;
		align-items: center;
	}

	.profile {
		background: hsl(0, 0%, 98%);
		margin: 20px 8px;
		position: relative;

		.img-wrapper {
			width: 60px;
			margin: auto;
			position: absolute;
			left: 50%;
			top: -20px;
			z-index: 1000;
			transform: translateX(-50%);
		}
		p {
			margin-top: 50px;

			&:last-child {
				margin-top: 20px;
			}
		}
	}
	.btn-wrapper .btn {
		margin: auto;
	}
}

// FEATURED SECTION SYTLES

.featured-container {
	width: 100%;
	margin-top: 100px;
	background: $primaryColorRed;

	.featured-content-wrapper {
		width: 80%;
		padding: 50px 0;
		margin: auto;
		@include flex;
		align-items: center;

		.featured-header {
			font-size: 30px;
			font-weight: 500;
			color: white;
			width: 70%;
		}
		.btn {
			background: white;
			color: $primaryColorRed;

			&:hover {
				opacity: 0.5;
			}
		}
	}
}
// FOOTER STYLES
footer {
	width: 100%;
	min-height: 15rem;
	background: hsl(233, 12%, 13%);
	padding: 30px 0;
}
.footer-wrapper {
	width: 80%;
	height: 80%;
	margin: auto;
	@include flex;
	padding: 10px;

	.logo-icons {
		@include flex;
		flex-direction: column;

		a {
			margin-right: 5px;
			text-decoration: none;
			cursor: pointer;

			svg:hover path {
				color: #ff6347;
				fill: #ff6347;
			}
		}
		a:last-child {
			margin-right: 0;
		}
	}

	.link-container {
		@include flex;
		flex-wrap: nowrap;
		width: 40%;

		ul {
			display: block;
			list-style: none;
			height: 100%;

			li {
				@include flex;
				margin-bottom: 10px;

				a {
					text-decoration: none;
					color: hsl(0, 0%, 98%);
					&:hover {
						color: $primaryColorRed;
					}
				}
			}
		}
	}

	.subs-container {
		@include flex;
		flex-direction: column;

		.form {
			@include flex;

			.btn {
				padding: 4px 20px;
			}
		}

		p {
			color: hsl(0, 0%, 98%);

			&:last-child {
				font-size: 14px;
			}
		}
	}
}

.form [type="email"] {
	border: none;
	outline: none;
	border-radius: 15px;
	max-width: 200px;
	padding: 10px 8px;
	color: $primaryColorRed;

	&::placeholder {
		color: $primaryColorRed;
	}
}

@media screen and (max-width: 800px) {
	.navbar {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		line-height: 3;
		background: hsl(227, 12%, 61%);
		transform: translateY(-100vh);
		transition: transform 0.5s ease-in-out;

		ul {
			display: block;
			width: 80%;
			margin: auto;
			margin-top: 2em;
			text-align: center;
			background: hsl(0, 0%, 98%);
			color: $textClr;
			
		}
	}
	.show-nav {
		transform: translateY(0%);
		top: 50px;
	}
	.nav .btn {
		display: none;
	}
	.open-menu {
		display: block;
		cursor: pointer;
		z-index: 1000;

		img {
			pointer-events: none;
		}
	}
	.container {
		width: 100%;
	}
	.first-section-wrapper,
	.second-section-wrapper {
		flex-wrap: wrap;

		.left h1,
		.left p {
			width: 100%;
			text-align: center;
		}

		.right {
			flex: 100%;
			margin-top: 20px;
		}
	}
	.first-section-wrapper .btn {
		margin: auto;
	}
	.featured-container .featured-content-wrapper {
		justify-content: center;

		.left {
			margin-bottom: 10px;
		}
		p {
			text-align: center;
			margin: auto;
		}
	}
}

@media screen and (max-width: 675px) {
	.testimonials {
		.swiper-slide {
			width: 100%;
		}
	}

	.footer-wrapper {
		line-height: 2;
		flex-direction: column-reverse;
		position: relative;
		padding: 0;

		.logo-icons {
			flex: 100%;
			flex-direction: column-reverse;
			gap: 20px;
			width: 100%;
			margin-bottom: 50px;

			.contact,
			.logo {
				max-width: 80%;
				margin: auto;
			}
		}
		.link-container {
			flex: 1 0 100%;
			width: 100%;
			margin-top: 5px 0;

			li a {
				margin: auto;
			}
		}

		.subs-container {
			flex: 1 0 100%;
			

			form,
			p {
				max-width: 100%;
				margin: auto;
			}
			form {
				width: 60%;
			}

			form input {
				width: 75%;
			}

			form .btn {
				padding: 0;
				width: 25%;
			}

			.copyright {
				position: absolute;
				bottom: 0px;
				left: 50%;
				width: 100%;
				transform: translateX(-50%);
				text-align: center;
			}
		}
	}
}
